<<<<<<< HEAD
<div id="formsblock">
=======
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }
    .bg {
      background-image: url("https://images.pexels.com/photos/4413/sport-basketball-basketball-basket.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      /* background-repeat: repeat; */
      background-position: top center;
      background-size: cover;
      background-position: center;
    }
    </style>
  </head>

<body class="bg">

>>>>>>> 99bedf1d2b794f026a77bcd6c75bb126ded41dbf
<ul>
<% if @team.errors.any? %>
<% @team.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
  <% end %>
<% end %>
</ul>

<h1>New Team</h1>

<%= form_for @team do |f|%>

  <%= f.label :location%>
  <%= f.text_field :location%><br><br>

  <%= f.label :name%>
  <%= f.text_field :name%><br><br>

  <%= f.label :mascot%>
  <%= f.text_field :mascot%><br><br>

  <%= f.submit%>
<%end%>
<<<<<<< HEAD
</div>
=======
</body>
>>>>>>> 99bedf1d2b794f026a77bcd6c75bb126ded41dbf
