<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }
    .boxscoretable {
      border: 6px solid #1860A7;
      background-color: #8DCEDA;
      width: 100%;
      text-align: center;
      color: black;
      opacity: 0.65;
    }
    .bg {
      background-image: url("https://images.pexels.com/photos/1152853/pexels-photo-1152853.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
      background-attachment: fixed;
      background-repeat: repeat;
      background-position: top center;
      background-size: 600px 800px;
    }
    </style>
  </head>

<body class="bg">


<h1><%= "Team #{@team.name}"%></h1>
<%="Team mascot: #{@team.mascot}"%><br>
<%="Location: #{@team.location}"%><br><br>

<h2>Players:</h2>
<% @team.players.each do |player|%>
  <%=link_to player.name, player_path(player)%><%=", #{player.position}"%><br>
<% end %>
<p></p>
<%= link_to "Edit Team", edit_team_path%>
</body>
