<h1>New Comment</h1>

<%= form_for @comment do |f|%>

  <%= f.label :comment%>
  <%= f.text_field :content%><br><br>

  <% f.label :game%>
  <%= f.collection_select :game_id, Game.all, :id, :location_date_glue%>
  <%= f.submit%>
<%end%>
