<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }

    .bg {
      background: #d9fafc;
      background-image: url("https://images.pexels.com/photos/305243/pexels-photo-305243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      /* background-size: 3000px 1000px; */
      background-size: cover;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body class="bg">

<div id="formsblock">
<ul>
<% if @comment.errors.any? %>
<% @comment.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
  <% end %>
<% end %>
</ul>

<h1>New Comment</h1>

<%= form_for @comment do |f|%>

  <%= f.label :name%>
  <%= f.text_field :name%><br><br>

  <%= f.label :comment%>
  <%= f.text_field :content%><br><br>

  <% f.label :game%>
  <%= f.collection_select :game_id, Game.all, :id, :location_date_glue%>
  <%= f.submit%>
<%end%>
</div>
<p></p>
<!-- <img src="https://media.giphy.com/media/l0MYwdebx8o0XI56E/giphy.gif" alt="Big Bronny" style="width:500px;height:300px;" class="right"> -->
<img src="https://media.giphy.com/media/53AjXg1p9C81y/giphy.gif" alt="Big Bronny" style="width:300px;height:300px;" class="right">

</body>
