<ul>
<% if @statistic.errors.any? %>
<% @statistic.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
  <% end %>
<% end %>
</ul>

<h1>Edit <%= "#{@statistic.player.name}"%></h1>

<%= form_for @statistic do |f|%>
<input type="hidden" id="game_id" name="game_id" value= <%= @statistic.game_id %> >

  <%= f.label :points%>
  <%= f.text_field :points%><br><br>

  <%= f.label :rebounds%>
  <%= f.text_field :rebounds%><br><br>

  <%= f.label :assists%>
  <%= f.text_field :assists%><br><br>

  <%= f.label :steals%>
  <%= f.text_field :steals%><br><br>

  <%= f.label :blocks%>
  <%= f.text_field :blocks%><br><br>

  <%= f.label :turnovers%>
  <%= f.text_field :turnovers%><br><br>

  <%= f.submit%>
<%end%>
