
<h1><%= @statistic.player.name %></h1>


Points: <%= @statistic.points %>,
Rebounds: <%= @statistic.rebounds%>,
Assists: <%= @statistic.assists%>,
Steals: <%= @statistic.steals %>,
Blocks: <%= @statistic.blocks %>,
Turnovers: <%= @statistic.turnovers%>
