<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }
    .bg {
      background-image: url("https://images.pexels.com/photos/4413/sport-basketball-basketball-basket.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      /* background-repeat: repeat; */
      background-position: top center;
      background-size: cover;
      background-position: center;
    }
    </style>
  </head>

<body class="bg">


<div id="formsblock">
<h1>Edit Game</h1>

<%= form_for @game do |f|%>

  <%= f.label :date%>
  <%= f.text_field :date%><br><br>

  <%= f.label :location%>
  <%= f.text_field :location%><br><br>

  <%= f.submit%>
<%end%>

</div>


</body>
