<h1><%= "Game on #{@game.date} at  #{@game.location}"%></h1>

<ol>
<% @game.players.each do |player|%>
  <li> <%= link_to player.name, player_path(player)%> <%="(#{player.team.name})"%> -
    <% game_stat = player.statistics.select do |stat| %>
    <% stat.game_id == @game.id %>
    <% end %>
    Points: <%= game_stat[0].points %>
    Rebounds: <%= game_stat[0].rebounds %>
    Assists: <%= game_stat[0].assists %>
    Steals: <%= game_stat[0].steals %>
    Blocks: <%= game_stat[0].blocks %>
    Turnovers: <%= game_stat[0].turnovers %>
    <%= button_to "Edit Player Stats", edit_statistic_path(game_stat[0]), method: :get %>
    <%= button_to "Remove Player", statistic_path(game_stat[0]), method: :delete %>
    <br>
  </li>

<% end%>
</ol>


#game array = all players from the link of the game and players from view
#game array iterate get all players from team_1 = all players from team 1
#game array iterate get all players from team_2 = all players from team 2


<%= link_to "Edit Game", edit_game_path%>
<p></p>
<%= link_to "Add Player to Game", new_statistic_path %>
