<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }
    .boxscoretable {
      border: 6px solid #1860A7;
      background-color: #8DCEDA;
      width: 100%;
      text-align: center;
      color: black;
      opacity: 0.65;
    }
    .bg {
      background: #d9fafc;
      background-image: url("https://images.pexels.com/photos/305243/pexels-photo-305243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      /* background-size: 3000px 1000px; */
      background-size: cover;
    }
    </style>
  </head>

  <body class="bg">
  <h1><%= "Game on #{@game.date} at  #{@game.location}"%></h1>

  <table class="boxscoretable" style="width:100%">
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Points</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Turnovers</th>
    </tr>

  <% @game.players.each do |player|%>
    <tr>
      <td> <%= link_to player.name, player_path(player)%> </td>
      <% if player.team == nil %>
      <td>  <%= "No Team" %> </td>
      <% else %>
      <td> <%="#{player.team.name}"%> </td>
      <% end %>
      <% game_stat = player.statistics.select do |stat| %>
      <% stat.game_id == @game.id %>
      <% end %>
      <td ><!-- Points:--><%= game_stat[0].points %> </td>
      <td><!-- Rebounds:--><%= game_stat[0].rebounds %> </td>
      <td><!-- Assists:--><%= game_stat[0].assists %> </td>
      <td><!-- Steals:--> <%= game_stat[0].steals %> </td>
      <td><!-- Blocks:--> <%= game_stat[0].blocks %> </td>
      <td><!-- Turnovers:--> <%= game_stat[0].turnovers %> </td>
      <td> <%= button_to "Edit Player Stats", edit_statistic_path(game_stat[0]), method: :get %>
      <%= button_to "Remove Player", statistic_path(game_stat[0]), method: :delete %> </td>
    </tr>

  <% end%>
  </table>



  <%= button_to "Edit Game", edit_game_path, method: :get%>
  <p></p>
  <%= button_to "Add Player to Game", new_statistic_path, method: :get%>
  <p></p>

<h2> Comments </h2>
<div id="commentblock">
  <% @game.comments.each do |comment|%>
    <p> <%= "#{comment.name}: " %> <br>
       <%= "#{comment.content}" %> </p>
    <%end%>

</div>

    <%= button_to "Leave a Comment", new_comment_path, method: :get %>


  </body>
</html>
