
</h3> Player with the most points: <%= Player.player_average_most_points %> </h3><br>
</h3> Player with the most rebounds: <%= Player.player_average_most_rebounds %> </h3><br>
</h3> Player with the most assists: <%= Player.player_average_most_assists %> </h3><br>
</h3> Player with the most steals: <%= Player.player_average_most_steals %> </h3><br>
</h3> Player with the most blocks: <%= Player.player_average_most_blocks %> </h3><br><br>
