<body>
<div id="analyticsblock">
<h1>Scoring Leader: </h1>
<h3><%= " #{Player.player_average_most_points[0]} (#{Player.player_average_most_points[1]})" %> PPG </h3><br>

<h1>Rebound Leader: </h1>
<h3><%= "#{Player.player_average_most_rebounds[0]} (#{Player.player_average_most_rebounds[1]})" %> RPG </h3><br>

<h1>Assists Leader: </h1>
<h3><%= "#{Player.player_average_most_assists[0]} (#{Player.player_average_most_assists[0]})" %> APG </h3><br>

<h1>Steals Leader: </h1>
<h3><%= "#{Player.player_average_most_steals[0]} (#{Player.player_average_most_steals[1]})" %> SPG </h3><br>

<h1>Blocks Leader: </h1>
<h3><%= "#{Player.player_average_most_blocks[0]} (#{Player.player_average_most_blocks[1]})" %> BPG </h3><br><br>
</div>
<body>
