<div>
<h1>Point Guards</h1>
</div>
<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Point Guard" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>

</div>

<div>
<h1>Shooting Guards</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Shooting Guard" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<div>
<h1>Small Forwards</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Small Forward" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<div>
<h1>Power Forwards</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Power Forward" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<div>
<h1>Centers</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Center" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<%= link_to "Sign Up", new_player_path %>

</body>
