<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }
    .boxscoretable {
      border: 6px solid #1860A7;
      background-color: #8DCEDA;
      width: 100%;
      text-align: center;
      color: black;
      opacity: 0.65;
    }
    .bg {
      background-image: url("https://images.pexels.com/photos/1905009/pexels-photo-1905009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      /* background-repeat: repeat; */
      background-position: top center;
      background-size: cover;
      background-position: center;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }


    .button5 {
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }

    .button5:hover {
      background-color: #555555;
      color: white;
    }

    </style>
  </head>

<body class="bg">


<div>
<h1>Point Guards</h1>
</div>
<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Point Guard" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>

</div>

<div>
<h1>Shooting Guards</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Shooting Guard" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<div>
<h1>Small Forwards</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Small Forward" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<div>
<h1>Power Forwards</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Power Forward" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<div>
<h1>Centers</h1>
</div>

<div id="playerblock" >
  <% @players.select do |player| %>
    <% if player.position == "Center" %>
      <p> <%= link_to player.name, player %> </p>
    <% end %>
  <% end %>
</div>

<%= button_to "Sign up", new_player_path,:class => "button button5", :method => :get %>


</body>
