<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <style>
    table, th, td {
      border: 1px solid black;
    }
    .bg {
      background-image: url("https://images.pexels.com/photos/4413/sport-basketball-basketball-basket.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-attachment: fixed;
      /* background-repeat: repeat; */
      background-position: top center;
      background-size: cover;
      background-position: center;
    }
    </style>
  </head>

<body class="bg">


<div id="formsblock">
<ul>
<% if @player.errors.any? %>
<% @player.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
  <% end %>
<% end %>
</ul>

<h1>Sign up!</h1>

<%= form_for @player do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <br>
  <%= f.label :team %>
  <%= f.collection_select :team_id, Team.all, :id, :name %>
  <br>
  <%= f.label :position %>
  <%= f.select :position, ['Point Guard', 'Shooting Guard', 'Small Forward', 'Power Forward', 'Center']%>
  <br>
  <%= f.label :upload_a_profile_picture %>
  <%= f.text_field :img_url %>
  <br>
  <%= f.submit "Sign Up"%>

<% end %>
</div>

</body>
