
<style>
table, th, td {
  border: 1px solid black;
}
.boxscoretable {
  border: 6px solid #1860A7;
  background-color: #8DCEDA;
  width: 100%;
  text-align: center;
  color: black;
  opacity: 0.65;
}
.bg {
  background:
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png) repeat;
    /* url(https://images.pexels.com/photos/1839836/pexels-photo-1839836.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) center no-repeat; */
}
</style>


<body class="bg">

<h1><%= @player.name %></h1>
<h2>Team: <% if @player.team == nil %>
            <%= "None" %>
          <% else %>
            <%= @player.team.name %>
          <% end %>
           </h2>
<h3>Age: <% if @player.age == nil %>
            <%= "Not Available" %>
         <% else %>
            <%= @player.age %>
         <% end %>
</h3><br>
<%= button_to "Edit", edit_player_path, method: :get %>
<p></p>

</h3> PPG: <%= @player.average_points %> </h3>
<br>
</h3> RPG: <%= @player.average_rebounds %> </h3>
<br>
</h3> APG: <%= @player.average_assists %> </h3>
<br>
</h3> SPG: <%= @player.average_steals %> </h3>
<br>
</h3> BPG: <%= @player.average_blocks %> </h3>
<br>
</h3> TO: <%= @player.average_turnovers %> </h3>

<p></p>
<%= button_to "Delete Profile", @player, method: :delete %>

</body>
